/* * {
  line-height: 3;
} */

* {
  font-size: 1.2rem;
}

p {
  font-size: 1.2em;
}

li {
  font-size: 24px;
  line-height: 1.4;
}

.title-color {
  color: #104b87;
}

.sub-orange {
  color: #e45026;
}

.no-margin {
  margin-top: 0;
  padding-top: 0;
}

.extra-margin {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  margin-top: 50px;
}

.blue-header-line {
  background-color: #104b87;
  padding: 10px 0 10px;
  margin: 10px 0 0;
}

.container-bottom {
  background-color: #104b87;
  color: white;
  padding: 20px 0 20px;
  margin: 20px 0 0;
}

.centered {
  text-align: center;
}

.image-wrapper-header {
  max-height: 50%;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.image-text-header {
  text-align: center;

  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.space-below {
  margin-bottom: 2vh;
}

.container-body {
  margin: 30px 22vw 30px;
}

@media only screen and (max-width: 600px) {
  .container-body {
    margin-right: 2vw;
    margin-left: 2vw;
  }
}

.banner-background {
  margin: 50px 0px 50px;
  width: 100%;
  background-color: #08457d;
  color: white;
  padding: 20px 0 20px;
  text-align: center;
}

.hr-blue {
  border-bottom: 2px solid #3d9be9;
}
